:root{

}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#Somos{
    height: 500px;
    i{
        font-size: 40px;
    }
     p{
        margin-bottom: 0;
        overflow-y:hidden;
     }
}

.card-img-top{
    height: 150px;
    +.card-body{
        height: 200px;
        >.card-text{
            height: 120px;
            overflow-y: hidden;
        }
    }
}

footer *{
    font-size: 35px;
    div i{
        margin: 0 0px;
    }
}