:root{
    --owo: ;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#Somos{
    i{
        font-size: 40px;
    }
/*  ignora al 2º elemento
    .row>div:not(:nth-child(2))>p{
        background-color: green;
    }
*/
    p{
        margin-bottom: 0;
        overflow-y:hidden;
        height: min-content;
    }
}

#Destacados{
    border: 2px red solid;
    .card{
        min-height: min-content;
        max-height: min-content;
        >.card-img-top{
            height:200px;
        }
        >.card-body{
            height:60%;
            >.card-text{
                overflow-y: hidden;
            }
        }
    }
}

footer *{
    font-size: 35px;
    div i{
        margin: 0 0px;
    }
}


@media screen and (min-width: 767px) and (max-width: 769px){
    .card-img-top{
        height: 400px !important;
    }
}

@media (max-width: 767px){
    #Destacados{
        .card-body{
            height: auto;
            >*{
                font-size: 12px;
                padding: 0;
                margin: 0;
            }
            >.card-title{
                text-align: center;
            }
            >.card-text{
                display: none;
                height: 120px;
                overflow-y: hidden;
            }
        }
    }

    footer{
        i{
            font-size: 20px;
        }
    }
}
