.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

:root{
    --TEXT: #FFFFFF;
    --FONDO: #000000;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Header{
    *{
        color: var(--TEXT);
    }
    .navbar-brand{
        height: 2rem;
    }

    .navbar-toggler{
        border: 1px solid var(--TEXT);
        background-color: rgba(255, 255, 255, 0.5);
    }

    .navbar a{
        text-decoration: none;
    }

    li{
        border-radius: 10px;
    }

    .navbar-brand:hover,
    li:hover{
        background: radial-gradient(circle, rgba(68, 54, 164, 0.95) 50%, rgba(0, 0, 0, 0.95) 100%);
    }
}

#Carrusel *{
    text-shadow: 2px -2px 2px var(--FONDO);
}

body{
    color: var(--TEXT);
    background-color: var(--FONDO);
}

#Somos{
    i{
        font-size: 40px;
    }
/*  ignora al 2º elemento
    .row>div:not(:nth-child(2))>p{
        background-color: green;
    }
*/
    p{
        margin-bottom: 0;
        overflow-y:hidden;
        height: min-content;
    }
}

#Destacados{
    .card-body{
        height: auto;
        >*{
            padding: 0;
            margin: 0;
            color: var(--TEXT);
        }
        >.card-title{
            text-align: center;
        }
        >.card-text{
            font-size: 12px;
            display: none;
            height: 120px;
            overflow-y: hidden;
        }
    }
}

#Formulario{
    #Textarea{
        height: 10rem;
    }
}

footer *{
    color: var(--TEXT);
    font-size: 20px;
    h5{
        padding-top: 2px;
    }
}

.custom-tooltip {
    --bs-tooltip-bg: var(--FONDO);
    --bs-tooltip-color: var(--TEXT);
    --bs-tooltip-font-size: 16px;
    --bs-tooltip-font-family: "Cabin", sans-serif;
    --bs-tooltip-font-weight: 400;

}


@media screen and (min-width: 767px) and (max-width: 769px){
    .card-img-top{
        height: 400px !important;
    }
    #Somos p{
        height: 30vw;
    }
}

@media (max-width: 767px){
    .fondo-opacity{
        background-color: rgba(0, 0, 0, 0.75);
    }
}

@media (min-width: 770px){
    #Destacados{
        .card{
            >.card-img-top{
                height:200px;
            }
            >.card-body{
                >.card-title{
                    text-align: start;
                }
                >.card-text{
                    display: block;
                    height:100px;
                    overflow-y: hidden;
                }
            }
        }
    }

    footer *{
        font-size: 35px;
        i{
            margin: 0 0px;
        }
    }
}